:host{
    form{
        padding: 1em;
        text-align: center;
    }

    .drop{
        width: 100px;
        padding-right: 10px;
    }
    .list{
        display: block;
    }
    .icon{
        font-size:18px;
    }
}