:host{
    background: black;
    display: flex;
    flex-direction: column;
    height: 100%;


    mat-drawer-container{
        background: rgb(228, 228, 228);
        flex: 1;
    }

    mat-nav-list mat-icon{
        padding-right: 10px;
    }


}